app/node_modules/
app/.env
app/uploads/*
!app/uploads/.gitkeep
keys/
*.pem
*.zip
*.log
.DS_Store

/node_modules/
/package.json
/package-lock.json

# Terraform local files
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
terraform.tfvars.json
crash.log
crash.*.log

# Terraform plan files
tfplan
*.tfplan
