DB_HOST=replace_with_rds_endpoint
DB_USER=replace_with_db_user
DB_PASSWORD=replace_with_db_password
DB_NAME=cloudops_students
PORT=3000
APP_ENV=EC2-RDS
AWS_REGION=us-east-1
S3_BUCKET_NAME=replace_with_s3_bucket_name
